# Exclude python 3 bytecode
*.pyc
__pycache__/

# Exclude any GA output files 
*.adf
*.csv

# Exclude not relevant things in Andor
Andor/**/*.inf
Andor/**/*.bas
Andor/**/*.vb
Andor/**/*.cat
Andor/**/*.sys
Andor/**/*.chm
Andor/**/*.dat
Andor/**/*.exe
Andor/**/*.frm
Andor/**/*.wcl

# Exclude any image files
*.png
*.jpg
*.jpeg
*.bmp
